* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
img {
  width: 100%;
}

/* --------------head----------------- */
header {
  border-top: 3px solid rgb(0, 204, 255);
  background-color: #000000;
  position: relative;
  box-sizing: border-box;
}
#idIput {
  padding: 0px 20px;
  width: 100%;
  height: 35px;
  border-radius: 4px;
  border: 1px solid rgb(3, 191, 249);
}

.product1 {
  min-width: 280px;
}
.top__header {
  padding: 5px 0px;
  align-items: center;
  justify-content: space-between;
  display: flex;
  width: 100%;
  overflow: hidden;
}
.top__header__left {
  margin-left: 100px;
  position: relative;
}
.logowinter {
  border-radius: 50%;
  width: 100%;
  height: 100%;
}
.logo1 {
  box-shadow: 7px 7px 28px 10px #06b8f9;
  border-radius: 50%;
  height: 80px;
  width: 80px;
  background-color: #fff;
}
.logo2 {
  border-radius: 50%;
  padding: 10px;
  position: absolute;
  height: 70px;
  border-radius: 4px;
  width: 70px;
  top: 1px;
  left: 5px;
}
.login {
  text-decoration: none;
  font-size: 15px;
  cursor: pointer;
  font-family: "Lilita One", cursive;
  font-weight: 600;
  padding: 7px 15px;
  border-radius: 7px;
  transition: transform 0.9s ease;
  background-size: cover;
  background-color: #07bcfe;
  border: 2px solid rgb(255, 255, 255);
}

.top__header__right a {
  color: rgb(255, 255, 255);
}
.top__header__right li {
  color: rgb(0, 0, 0);
  text-decoration: none;
  transition: transform 1s ease;
}

.top__header__right li:hover {
  transform: scale(1.1);
}
.top__header__right {
  margin-right: 20px;
  list-style-type: none;
  align-items: center;
  display: flex;
  gap: 10px;
}

.top__header__left a {
  color: #000000;
  text-decoration: none;
}
.cart {
  border-radius: 5px;
  background-image: url("../img/chery8.jpg");
  padding: 5px 12px;
  color: rgb(0, 0, 0);
  font-size: 25px;
  transition: transform 1s ease;
  background-size: cover;
  box-shadow: 4px 4px 10px 4px #fafafa;
}
.cart:hover {
  transform: scale(1.1);
}
.header__main__button {
  box-shadow: 7px 7px 28px 10px #06b8f9;
  transition: transform 1s ease;
  border: 3.5px solid #f0f1f1;
  cursor: pointer;
  font-family: "Eater", cursive;
  font-weight: 600;
  background-image: url("../img/chery8.jpg");
  padding: 4px 55px;
  border-radius: 5px;
}
.header__main__button a {
  font-weight: 900;
  color: rgb(0, 0, 0);
  text-decoration: none;
}
.header__main__button:hover {
  transform: scale(1.1);
}

.boderLi {
  font-family: "Roboto", sans-serif;
  color: #000000;
  opacity: 0.4;
}

/* ---------navbar-------------- */
.navbar {
  background-image: url("../img/sellll.jpg");
  justify-content: space-between;
  display: flex;
  overflow-x: auto;
}

.mega-menu-title i {
  font-size: 25px;
}
.mega-menu-title {
  background-size: cover;
  background-color: #000000;
  display: flex;
  gap: 8px;
  padding: 17px;
  font-size: 17px;
  font-family: "Sigmar", cursive;
  font-weight: 700;
  color: #f6f4f4;
  cursor: pointer;
}
.mega-menu-title i {
  color: #ffffff;
}
.flex-row-container-left:hover .mega-menu {
  display: inline;
}
.mega-menu-title:hover + .mega-menu {
  background-color: #fdfdfd;
  display: inline;
}
.mega-menu {
  width: 15%;
  left: 1px;
  position: absolute;
  display: none;
  color: #010101;
}
.mega-menu li {
  background-color: #fdfdfd;
  font-size: 14px;
  font-family: "roboto condensed", sans-serif;
  gap: 10px;
  align-items: center;
  display: flex;
  padding: 2px;
  border: 1px solid rgb(230, 227, 227);
}
.mega-menu li:hover {
  background-color: #ffffff;
  border: 2px solid rgb(15, 235, 247);
  color: #09cdf4;
  cursor: pointer;
}

.imgNAV {
  margin-left: 10px;
}

.flex-row-right-ul {
  text-decoration: none;
  display: flex;
  align-items: center;
  list-style-type: none;
  margin-right: 20px;
}

.flex-row-right-ul li {
  transition: transform 1s ease;
  padding: 19px;
  font-size: 15px;
  text-decoration: none;
  transition: transform 1s ease;
}
.flex-row-right-ul li:hover {
  transform: scale(1.1);
  padding: 20px;
  background-color: #fff;
}

.flex-row-right-ul a:hover {
  color: #000000;
}

.flex-row-right-ul a {
  font-family: "Sigmar", cursive;
  font-weight: 1000;
  text-decoration: none;
  color: rgb(0, 0, 0);
}
.flex-row-title {
  font-weight: bold;
  color: rgb(255, 255, 255);
}

.flex-row-left:hover .mega-menu {
  display: flex;
  flex-direction: column;
}
/* ----------slice-------- */

/* thiết lập style cho slideshow container */
.slideshow-container {
  max-width: 1600px;
  position: relative;
  margin: auto;
}
/* ẩn hình ảnh cho phần tử slideshow */
.mySlides {
  display: none;
}
.mySlides img {
  object-fit: cover;
}
/* thiết kế nút mũi tên*/
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin: 0 15px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 13px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
  background-color: rgba(122, 121, 121, 0.8);
}
/* thiết kế nút mũi tên next nằm phía bên phải */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}
/* hiệu ứng thay đổi background khi hover vào nút mũi tên*/
.prev:hover,
.next:hover {
  color: #000000;
  background-color: rgba(255, 250, 250, 0.8);
}
/* Thiết lập style cho nội dung của mỗi phần tử slideshow */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}
/* Thiết lập style cho số hiển thị của phần tử */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}
/* thiết lập style  nút tròn điều khiển*/
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}
.active,
.dot:hover {
  background-color: #717171;
}
/* tạo hiệu ứng chuyển động fade */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}
@-webkit-keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 0.4;
  }
  to {
    opacity: 1;
  }
}
/* -----------------------slice-------------- */
main {
  background: url(../img/bgPrice.jpg);
}

.totallyPro1 {
  width: 100%;
}
.img_3NVM {
  gap: 10px;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.img_hr {
  padding: 0 80px;
  width: 100%;
  position: relative;
}
.img_hr2 {
  padding: 0 80px;
  width: 100%;
  position: relative;
}
.hr_h1 {
  color: rgb(5, 5, 5);
  font-family: "Darumadrop One", cursive;
  right: 170px;
  position: absolute;
  bottom: 120px;
}
.hr_h2 {
  color: rgb(2, 2, 2);
  font-family: "Darumadrop One", cursive;
  left: 170px;
  position: absolute;
  bottom: 120px;
}

/* -------------------3NVM--------------- */
.title_3NVM {
  padding: 28px 80px;
  width: 100%;
  text-align: center;
  background-image: url("../img/pepe1.jpeg");
}
.title_3NVM h4 {
  font-size: 22px;
  padding: 0 100px;
  width: 100%;
  font-weight: bold;
  font-family: "Pacifico", cursive;
  color: rgb(11, 10, 10);
}
.title_3NVM p {
  font-family: "Darumadrop One", cursive;
  font-size: 30px;
  color: rgb(255, 255, 255);
  width: 100%;
  line-height: 1.5;
  font-weight: bold;
}
.seller {
  position: absolute;
  top: 0;
  right: 0;
}
.container__3NVM {
  width: 100%;
  display: grid;
  grid-template-columns: repeat(1, 1fr);
}

.product_3NVM {
  transition: transform 1s ease;
  background-image: url("img/bgPrice.jpg");
  cursor: pointer;
  border: 1px solid rgb(255, 255, 255);
  align-items: center;
  text-align: center;
  position: relative;
}
.product_3NVM p {
  font-family: "Bruno Ace SC", cursive;
}
.product_3NVM:hover {
  transform: scale(1.1);
}
.container1 {
  padding: 0 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.container2 {
  padding: 0 80px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 40px;
}
.product1 {
  /* box-shadow: 7px 7px 28px #09cdf4; */
  transition: transform 1s ease;
  background-image: url("../img/bgPrice.jpg");
  cursor: pointer;
  /* border: 1px solid rgb(3, 3, 3); */
  align-items: center;
  text-align: center;
  position: relative;
  border-radius: 8px;
  padding: 2px 6px;
  box-shadow: 7px 7px 28px #09cdf4;
}
.product1:hover {
  box-shadow: 7px 7px 28px #09cdf4;
  border: 3px solid rgb(0, 0, 0);
  transform: scale(1.1);
}
.buyBTN {
  cursor: pointer;
  padding: 8px 10px;
  background-color: #f3ae01;
  color: #fbfbfb;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 7px;
  border: none;
}
.detailBTN {
  cursor: pointer;
  margin: 0px 0px 7px 0px;
  padding: 8px 10px;
  background-color: #100f0f;
  color: #fbfafa;
  font-family: "Roboto", sans-serif;
  font-weight: bold;
  border-radius: 7px;
  border: 1px solid rgb(240, 215, 31);
}
.product1 img {
  padding: 10px;
}

.product1 p {
  color: rgb(9, 9, 9);
  font-size: 17px;
  font-weight: bold;
  font-family: "Work Sans", sans-serif;
}

.bx-cart-add {
  color: #050505;
  font-size: 29px;
  right: 30px;
  bottom: 155px;
  position: absolute;
  transition: transform 1s ease;
}
.bx-cart-add:hover {
  transform: scale(1.4);
  opacity: 0.6;
}
.flex_footer {
  position: relative;
  background-color: #000000;
}

.flex_footer_info {
  display: flex;
  justify-content: space-between;
  padding: 15px;
}
.flex_foot a {
  text-decoration: none;
  margin: 10px;
  color: rgb(255, 255, 255);
}
.flex_foot a:hover {
  color: #cac3c3;
}

.img_footer {
  align-items: center;
  padding: 10px 0px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: space-between;
}
.img_footer a {
  display: inline-block;
  width: calc(50% - 190px);
  margin-left: -120px;
}

.img_fb img {
  border-radius: 4px;
  width: 100%;
}
.banner {
  position: relative;
  width: 100%;
}
.desktop img {
  width: 100%;
}

.showTN {
  width: 35%;
  position: absolute;
  top: -36px;
  left: 33%;
}
.showTN img {
  border-radius: 5px;
  box-shadow: 10px 10px 40px 16px #f6f6f6;
}

video {
  border-radius: 5px;
  border: none;
  left: 35.5%;
  bottom: 28%;
  position: absolute;
  width: 30%;
  box-shadow: 10px 10px 40px 16px #ffffff;
  transition: transform 2s ease;
}
video:hover {
  box-shadow: 10px 10px 40px 16px #ffffff;
  transform: scale(1.4);
}
.roman3 {
  bottom: 5%;
  position: absolute;
  display: flex;
  width: 60%;
  gap: 100px;
  left: 20%;
}
.smallIMG1 img {
  border-radius: 5px;
}
.smallIMG2 img {
  border-radius: 5px;
}
.smallIMG3 img {
  border-radius: 5px;
}
.smallIMG2 {
  cursor: pointer;
}
.smallIMG1:hover {
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 7px 10px 28px #f6f6f6;
  border: 3px solid rgb(241, 241, 240);
}
.smallIMG2:hover {
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 7px 10px 28px #f6f6f6;
  border: 3px solid rgb(241, 241, 240);
}
.smallIMG3:hover {
  border-radius: 3px;
  cursor: pointer;
  box-shadow: 7px 10px 28px #f6f6f6;
  border: 3px solid rgb(241, 241, 240);
}
@media only screen and (max-width: 992px) {
  .container1 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 668px) {
  .container1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .header__main__button {
    display: none;
  }
}

@media only screen and (max-width: 576px) {
  .container1 {
    grid-template-columns: repeat(1, 1fr);
  }
  .flex-row-right-ul {
    display: none;
  }
  .hr_h1 {
    display: none;
  }
  .top__header__left {
    display: none;
  }
}
@media only screen and (max-width: 992px) {
  .container2 {
    grid-template-columns: repeat(3, 1fr);
  }
}

@media only screen and (max-width: 668px) {
  .container2 {
    grid-template-columns: repeat(2, 1fr);
  }
}

@media only screen and (max-width: 576px) {
  .container2 {
    grid-template-columns: repeat(1, 1fr);
  }
}
